===============================================================================
Name: {{ .Name }}
Type: {{ .Type }}
Style: {{ .Style.Name }}
===============================================================================


===============================================================================
Recipe Specifications
===============================================================================
Batch Size:              {{ .DisplayBatchSize }}
Boil Size:               {{ .DisplayBoilSize }}
Estimated OG:            {{ .EstOg }}
Estimated Color:         {{ .EstFg }}
Estimated IBU:           {{ .Ibu }}
Brewhouse Efficiency:    {{ .Efficiency | printf "%v" }}%
Boil Time:               {{ .BoilTime }} Minutes
Estimated ABV:           {{ .Abv }} %


===============================================================================
Ferm Process
===============================================================================
{{with .Yeasts}}{{range .}}{{ .DisplayAmount }}    {{ .Name }}    {{ .Laboratory }} {{ .ProductId }} ({{ .Type }}){{end}}{{end}}

Primary: {{ .PrimaryAge}} days
Secondary: {{ .SecondaryAge }} days


===============================================================================
Ingredients
===============================================================================
{{ with .Fermentables }}{{ range .}}{{ .DisplayAmount }}    {{ .Name }}
{{ end }}{{ end }}


===============================================================================
Hops
===============================================================================
{{with .Hops}}{{range .}}{{ .DisplayAmount }}    {{ .DisplayTime }}    {{ .Name }} - {{ .Alpha }} AA%
{{end}}{{end}}


===============================================================================
Mash - {{ .Mash.Name }}
===============================================================================
{{with .Mash.MashSteps }}{{range .}}
{{.Name }}: {{.StepTime}} minutes at {{.DisplayStepTemp}}{{end}}{{end}}


{{ if .Miscs }}
===============================================================================
Other
===============================================================================
{{with .Miscs}}{{range .}}{{ .DisplayAmount }}    {{ .DisplayTime }}    {{ .Name }}    {{ .Type }}    {{ .Use }}{{else}}nada{{end}}{{end}}
{{ end }}
